<div class="messages-index-item">
  <div id="message">
    <div class="messages-index-item-left">
      <img src="/blank-profile-picture-973460_960_720.png">
    </div>
    <p>
      <%= "#{message.user_id} : #{message.content}(#{message.created_at.strftime('%Y/%m/%d %H:%M:%S')})" %>
    </p>
  </div>
</div>
