<div class="top-main">
<head><link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet"></head>
  <div class="img"></div>
  <div class="top-message">
    <h2>TOGETHER</h2>
    <p>今年は誰かとイルミネーションを観にいこう</p>
    <a href="/posts" class="myButton">Get Together!</a>
  </div>
</div>