<div class="main">
  <div class="container">
    Click Item to see details
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="/blank-profile-picture-973460_960_720.png">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to("#{post.user.id} #{post.location}", post) %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
    <%= link_to 'Post New Item', new_post_path %>
  </div>
</div>